.project{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#proh{
    color:white;
    font-size: 2rem;
    font-weight: 400;
}
.sections{
    background-color: rgb(12, 12, 41);
}
.pro img{
    border-radius: 10px;
    box-shadow: 0px 0px 12px black;
    opacity: 1;
}
.pro img:hover{
    box-shadow: 0px 0px 20px wheat;
    transition: 2s;

}
.pro h3{
    color:black;
    font-weight: 800;
    font-size: 1.2rem;
    z-index: 2;
    text-align: center;
}
.pro{
    border: 2px solid wheat;
    padding: 20px;
    border-radius: 12px;
    border-top: none;
    border-left: 0;
    
}
.pro:hover{
    box-shadow: 2px 2px 8px lightgray;
    transform: scale(1.1);
    margin-top: 30px;
    transition: 1s;
    margin-bottom: 40px;
}
.prodet p{
    background-color: rgba(255, 255, 255, 0.5);
    height: 270px;
    width: 270px;
    background-color:blur(9);
    color:wheat;
    padding: 10px;
    border-radius: 13px;
    margin-left: 4%;
    margin-bottom: 20px;
}




    @media screen and (max-width:840px) {
        .project{
            flex-direction: column;
            flex-wrap: wrap;
        }
        
    }
